<div class="row">
    <div class="col-xs-12 mainBox">
        <h3>Er du sikker på, at opgaven er udført?</h3>
        <div class="col-xs-12" ng-show="$ctrl.assignment.userInputNeeded">
            <form name="inputform">
                <p>Denne opgave kræver brugerindtastning: </p>
                <input name="userinput" type="text" ng-model="$ctrl.assignment.userInput" required ng-virtual-keyboard="$ctrl.keyboardConfig">
            </form>
        </div>
        <div class="col-xs-12 buttonConfirmBox">
            <!--<div class="btn-group btn-group-lg" role="group" aria-label="First group">-->
            <div class="col-sm-6">
                <button type="button" ng-disabled="$ctrl.assignment.userInputNeeded && inputform.userinput.$invalid"
                        class="btn btn-success btn-lg" ng-click="$ctrl.finishAssignment()">
                    Ja <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-danger btn-lg" ng-click="$ctrl.cancel()">
                    Nej <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
