<div class="row">
    <div class="col-xs-12 assignmentBox">
        <h3>Overblik</h3>
        <form name="assignmentDataForm">
            <div class="input-group widthAreaNinty">
                <span class="input-group-addon"><b> Navn på opgaven:</b></span>
                <input
                        type="text" ng-model="$ctrl.clone.name" ng-virtual-keyboard="$ctrl.keyboardConfig2"
                        class="form-control ">
            </div>
            <div class="input-group widthAreaNinty">
                <span class="input-group-addon"><b> Beskrivelse:</b></span>
                <textarea ng-model="$ctrl.clone.description" ng-virtual-keyboard="$ctrl.keyboardConfig2"
                          class="form-control textarea"></textarea>
            </div>
            <div class="row">
                <div class="col-md-4 alignMiddle">
                    <p class="Boldtitle">Skal gøres d.</p>
                    <!--<input name="Date" type="date" ng-model="create.date" required>-->
                    <p class="input-group ontop">
                        <input type="text" placeholder="Tryk på kalenderikon og vælg dato"
                               class="form-control overViewMarginTop"
                               uib-datepicker-popup="dd.MM.yyyy" is-open="dateOpen" ng-model="$ctrl.clone.date"
                               ng-required="true" close-text="Luk" datepicker-options="$ctrl.dateOptions" clear-text=""
                               current-text="Nuværende dato" id="dateWidthOverview"
                            <span class="input-group-btn ">
                                    <button type="button" class="btn btn-default overViewMarginTop"
                                            ng-click="dateOpen = true"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </input>
                    </p>
                </div>
                <div class="col-md-6 timePick">
                    <p class="Boldtitle">Skal gøres kl.</p>
                    <uib-timepicker name="Time" type="time" ng-model="$ctrl.clone.date" minute-step="10"
                                    show-meridian="false"
                                    required></uib-timepicker>
                </div>
            </div>

            <div ng-show="$ctrl.isCarerLoggedIn()">

                <div class="input-group">
                    <span class="input-group-addon singleAddons"><b> Prioritet:</b></span>
                    <div class="btn-group btn-group-horizontal" data-toggle="buttons">
                        <label ng-repeat="p in $ctrl.prio" class="btn active">
                            <input type="radio" ng-model="$ctrl.clone.priority" value="{{p}}">
                            <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                            <span> {{$ctrl.prio2String(p)}}</span>
                        </label>
                    </div>
                </div>

                <div class="input-group widthAreaSeventy">
                    <span class="input-group-addon singleAddons"><b>Brugerindtastning påkrævet?</b></span>
                    <div class="btn-group btn-group-horizontal" data-toggle="buttons">
                        <label class="btn active">
                            <input type="radio" ng-model="$ctrl.clone.userInputNeeded" ng-value="true">
                            <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                            <span> Ja </span>
                        </label>
                        <label class="btn active">
                            <input type="radio" ng-model="$ctrl.clone.userInputNeeded" ng-value="false">
                            <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                            <span> Nej </span>
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <div class="input-group widthAreaSeventy">
                    <span class="input-group-addon"><b>Opgaven gentages:</b></span>
                    <div class="input-group-btn ">
                        <div class="btn-group" uib-dropdown is-open="$ctrl.isOpen">
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>{{$ctrl.freq}}<span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu " uib-dropdown-menu role="menu">
                                <li role=menuitem" ng-repeat="freq in $ctrl.freqOPTIONS">
                                    <button ng-click="$ctrl.freq = freq; $ctrl.setRecurring(); assignmentDataForm.$dirty = true"
                                            class="btn listItemBtn">{{freq}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div ng-show="$ctrl.clone.recurring">
                    <div class="input-group widthAreaNinty behind">
                        <span class="input-group-addon" id="recurrences"><b> Med et interval på:</b></span>
                        <input type="number" ng-model="$ctrl.interval"
                               ng-virtual-keyboard="$ctrl.clone.numpadConfig2"
                               class="form-control" aria-describedby="recurrences">
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="col-xs-12 mainBox buttonBox">
        <div class="btn-group btn-group-lg" role="group" aria-label="First group">
            <button type="button" class="btn btn-success" ng-if="!$ctrl.clone.finished"
                    ng-click="$ctrl.finishAssignment()">
                Udført <span class="fa fa-lg fa-calendar-check-o" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary" ng-show="assignmentDataForm.$dirty"
                    ng-click="$ctrl.saveChanges()">
                Gem ændringer <span class="fa fa-lg fa-floppy-o" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn" ng-click="$ctrl.cancel()">
                {{ assignmentDataForm.$dirty ? 'Annuller ændringer' : 'Tilbage' }}
                <span class="fa fa-lg fa-undo" ng-show="assignmentDataForm.$dirty" aria-hidden="true"></span>
                <span class="fa fa-lg fa-level-up" ng-show="!assignmentDataForm.$dirty" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

