<div class="btn-group-vertical">
    <button id="assignmentBtn" type="button" ng-click="$ctrl.clickAssignment()" class="btn" ng-class="$ctrl.getColor()">
        {{$ctrl.assignment.name}} kl. {{$ctrl.assignment.date | date:'HH:mm'}} {{$ctrl.assignment.date |
        date:'dd/MM/yyyy'}}
    </button>
</div>
