//@import "bootstrap/sass/assets/stylesheets/_bootstrap.scss";
@import "today/today.scss";
@import "create/create.scss";
@import "home/home.scss";
@import "login/login.scss";
@import "log/log.scss";
@import "assignments/assignments.scss";
@import "log/log.scss";


@import "layout/loginStatus.scss";
.errorMsg {
  color: red;
}

body {
  background: url(../../client/assets/images/app_background.png) !important;
  font-family: 'Noto Sans', sans-serif !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header, footer {
  width: 100%;
  height: 40px;
  background-color: #cdcdcd;
  padding: 10px;
}

.product {
  height: 200px;
  border: 1px solid #dddddd;
  padding: 20px;
  margin-bottom: 20px;
}

input[type=radio] { /* Change width and height on radio buttons */
  width: 2em;
  height: 2em;
  margin-top: -1px;
  vertical-align: middle;
}

.radioGroup {
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
}

//Angular Animate for fade animations between routes (when views are inserted in the ui-view defined in index.html)
// Source 1: https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-animate-ui-view-with-ng-animate
// Source 2: https://docs.angularjs.org/api/ngAnimate
[ui-view].ng-enter {
  animation: pageFadeAnim 0.5s linear;
}

//Define the fade animation keyframes (going from "from" to "to")
@keyframes pageFadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

// design of checkbox
// http://jsfiddle.net/scottguymer/PtVZj/
input[type=checkbox].checkbox {
  display: none;
}

input[type=checkbox].checkbox + label {
  display: inline;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  order-radius: 3px;
}

// fixed size for all input addons
.input-group-addon {
  text-align: left;
}

.singleAddons {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border: 1px solid #ccc !important;
}

// *********** //
// input fields layout

.alignMiddle {
  vertical-align : middle;
}

.Boldtitle {
  margin-top: 10px;
  font-weight: bold;
}

.behind {
  z-index: 1;
}

.createMarginTop {
  margin-top: 26px;
}
.overViewMarginTop {
  margin-top: 34px;
}

#dateWidthOverview {
  width: 70%;
}
#dateWidthCreate {
  width: 70%;
}

.textarea {
  resize: none;
}

.desForm {
  margin-top: 42px;
}

.nameForm {
  margin-top: 50px;
}

.timePick {
  float: right;
}

.widthAreaSeventy {
  width: 70%;
}

.widthAreaNinty{
  width: 80%;
}

