<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default btn-lg" ng-click="create.cancel()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuller oprettelse
            </button>
        </div>
    </div>
    <div>
        <h1>Opret ny opgave</h1>
        <section class="create">
            <!-- Subviews are inserted here, depending on url -->
            <div ui-view></div>
        </section>
    </div>
</div>