//@import "bootstrap/sass/assets/stylesheets/_bootstrap.scss";
.wrapper {

}

input[type=checkbox].rolescheckbox {
  display: none;
}

/* to hide the checkbox itself */
input[type=checkbox].rolescheckbox + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
}

input[type=checkbox].rolescheckbox + label:before {
  content: "\f096";
  color: #c8c8c8;
}

/* unchecked icon */
input[type=checkbox].rolescheckbox + label:before {
  letter-spacing: 10px;
}

/* space between checkbox and label */

input[type=checkbox].rolescheckbox:checked + label:before {
  content: "\f046";
  color: #7AA3CC;
}

/* checked icon */
input[type=checkbox].rolescheckbox:checked + label:before {
  letter-spacing: 5px;
}

.datainput {
  font-size: medium;
  margin: auto;
  width: 60%;
  padding: 10px;
}

#formDIV {
  vertical-align: middle;
  align-items: center;
}

#buttonsDIV {
  align-items: center;
  vertical-align: middle;
  margin-top: 5%;
}

#intervalTextRow {
  margin-top: 3px !important;
  margin-bottom: 20px !important;
}

input[type=date] {
  height: 35px;
  margin: 0 auto;
  width: 50%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: lighten(#2f2f2f, 40%);
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #000000;
}

input[type=time] {
  height: 35px;
  margin: 0 auto;
  width: 50%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: lighten(#2f2f2f, 40%);
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #000000;
}

input[type=time]::-webkit-clear-button {
  display: none;
}

input[type=date]::-webkit-clear-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  color: #000000;
  height: 100%;
  width: 20%;
  opacity: 1;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  opacity: 0;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  opacity: 1;
  color: #000000;
  height: 100%;
}

// Css for hiding the input arrows on number input - we want to use the keyboard for those!
// Copied from: http://stackoverflow.com/a/4298216/4201795
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

// Margin for the input box for number of reccurences
.input-group {
  margin-top: 8px !important;
}

// Hide the small checkbox that appears on touch keyboard
.keyboardInputTextPad input {
  visibility: hidden;
}

.listItemBtn {
  background-color: white;
}

//****************************** Input check box style ******************************\\
// Copied from: http://codepen.io/BrianSassaman/pen/iLrpC?editors=1100
label.btn span {
  font-size: 1.5em;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
  color: #c8c8c8;
  display: inline;
}

label input[type="radio"] ~ i.fa.fa-check-circle-o {
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-check-circle-o {
  color: #7AA3CC;
  display: inline;
}

label input[type="radio"] ~ i.fa.fa-square-o {
  color: #c8c8c8;
  display: inline;
}

label input[type="radio"] ~ i.fa.fa-check-square-o {
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-square-o {
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-check-square-o {
  color: #7AA3CC;
  display: inline;
}

label:hover input[type="radio"] ~ i.fa {
  color: #7AA3CC;
}

div[data-toggle="buttons"] label.active {
  color: #7AA3CC;
}

div[data-toggle="buttons"] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

//*******************************************************************************************
