<div class="jumbotron">
    <div>
        <button type="button" class="btn btn-default btn-lg" ui-sref="main.home">
            <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span>Tilbage
        </button>
    </div>
    <div>
        <h1>Registrer ny borger</h1>
        <form name="registerForm">
            <div class="input-group">
                <span class="input-group-addon addon-fixed-length" id="fornavn_text">Fornavn</span>
                <input type="text" class="form-control" id="fornavn" aria-describedby="fornavn_text" name="firstName"
                       ng-model="registerUser.firstName" placeholder="Påkrævet" required
                       ng-virtual-keyboard="registerUser.keyboardConfig">
            </div>
            <div class="input-group">
                <span class="input-group-addon addon-fixed-length" id="mellemnavn_text">Mellemnavn</span>
                <input type="text" class="form-control" id="mellemnavn" aria-describedby="mellemnavn" name="middleName"
                       ng-model="registerUser.middleName" placeholder="Ikke Påkrævet"
                       ng-virtual-keyboard="registerUser.keyboardConfig">
            </div>
            <div class="input-group">
                <span class="input-group-addon addon-fixed-length" id="efternavn_text">Efternavn</span>
                <input type="text" class="form-control" id="efternavn" aria-describedby="efternavn_text" name="lastName"
                       ng-model="registerUser.lastName" required placeholder="Påkrævet"
                       ng-virtual-keyboard="registerUser.keyboardConfig">
            </div>
            <span class="errorMsg" ng-show="registerForm.lastName.$dirty && registerForm.firstName.$invalid">Fornavn er påkrævet</span></br>
            <span class="errorMsg" ng-show="registerForm.firstName.$dirty && registerForm.lastName.$invalid && registerForm.lastName.$dirty">Efternavn er påkrævet</span>            </br>
            <button type="button" class="btn btn-primary btn-lg"
                    ng-disabled="registerForm.firstName.$invalid || registerForm.lastName.$invalid"
                    ng-click="registerUser.registerUser()"><i class="fa fa-user-plus"></i>Opret borger
            </button>
        </form>
    </div>
</div>
