<div id="loginstatus" ng-style="{'background': $ctrl.getHeader()}">
    <h4 id="showit" ng-show="$ctrl.val" ><b>Plejer er logget ind</b></h4>
    <h4 id="hideit" ng-show="!$ctrl.val" >Beboer</h4>
    <div ui-view></div>
</div>