<div class="container">
    <!--<header>-->
    <!--<a ui-sref="main.home">Home</a> - <a ui-sref="main.login">Login</a> - <a ui-sref="main.today">Assignment</a>-->
    <!-- - <a ui-sref="main.create">Create</a>-->
    <!--</header>-->
    <section class="main">
        <loginstatus>
        </loginstatus>
    </section>
    <!--<footer>-->
    <!--This is a footer-->
    <!--</footer>-->
</div>
