<div class="jumbotron wrapper">
    <div class="row">
        <!-- list all values entered. collected from values saved in controller variables on previous pages-->
        <div id="formDIV" class="col-md-6">
            <h3><b>Bekræft de indtastede oplysninger</b></h3>
            <div>
                <div class="input-group">
                    <span class="input-group-addon singleAddons"><b> Navn:</b></span>
                    <b class="datainput">{{create.name}}</b>
                </div>
                <div class="input-group ">
                    <span class="input-group-addon singleAddons"><b> Dato/klokkeslæt:</b></span>
                    <b class="datainput">{{create.date | date: "dd/MM/yyyy kl HH:mm"}}</b>
                </div>
                <div class="input-group ">
                    <span class="input-group-addon singleAddons"><b> Beskrivelse:</b></span>
                    <b class="datainput">{{create.description}}</b>
                </div>
                <div ng-show="create.isCarerLoggedIn()">
                    <div class="input-group ">
                        <span class="input-group-addon singleAddons"><b> Opgaven gentages:</b></span>
                        <b class="datainput" ng-show="create.recurring">{{create.freq}}</b>
                        <b class="datainput" ng-show="!create.recurring">Nej</b>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon singleAddons"><b> Prioritet:</b></span>
                        <b class="datainput">{{create.prio2String(create.priority)}}</b>
                    </div>
                    <div class="input-group ">
                        <span class="input-group-addon singleAddons"><b> Brugerindtastning nødvendigt:</b></span>
                        <b  class="datainput" ng-show="create.userinputneeded">Ja</b>
                        <b class="datainput" ng-show="!create.userinputneeded">Nej</b>
                    </div>
                    <div class="input-group ">
                        <span class="input-group-addon singleAddons"><b> Opgaven kan udføres af:</b></span>
                        <b class="datainput" >{{create.getRoles()}}</b>
                    </div>
                </div>


                <!--<p>Navn : {{create.name}}</p>-->
                <!--<p>Dato/Tidspunkt : {{create.date | date: "dd-MM-yyyy HH:mm"}}</p> &lt;!&ndash; formatting date and time &ndash;&gt;-->
                <!--<div ng-show="create.isCarerLoggedIn()">-->
                <!--<p ng-show="create.recurring">Opgaven gentages {{create.freq}}</p>-->
                <!--<p ng-show="!create.recurring">Opgaven gentages ikke</p>-->
                <!--<p>Prioritet : {{create.prio2String(create.priority)}}</p>-->
                <!--<p>Brugerindtastning nødvendigt: <b ng-show="create.userinputneeded">Ja</b><b-->
                <!--ng-show="!create.userinputneeded">Nej</b></p>-->
                <!--</div>-->
                <!--<p>Beskrivelse : {{create.description}}</p>-->
                <!--<p ng-show="create.isCarerLoggedIn()">Opgaven kan udføres af: {{create.getRoles()}}</p>-->
            </div>
        </div>
        <div id="buttonsDIV" class="col-md-6">
            <!--Button leading back to previous page and for confirming creation. Confirm button calls function to save
            assignemnt in controller create   -->
            <div>
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.description">
                    <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span> Tilbage
                </button>
                <button type="button" class="btn btn-success btn-lg" ng-click="create.addAssignment()">
                    Færdig <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>