<div class="jumbotron wrapper">
    <div class="row">
        <div id="formDIV" class="col-md-6">
            <div class="row">
                <div class="col-md-6 alignMiddle">
                    <b class="Boldtitle">Vælg dato</b>
                    <p class="input-group">
                        <input type="text" placeholder="Tryk på kalenderikon og vælg dato" class="form-control createMarginTop"
                               uib-datepicker-popup="dd.MM.yyyy" is-open="dateOpen" ng-model="create.date"
                               ng-required="true" close-text="Luk" datepicker-options="$ctrl.dateOptions" clear-text=""
                               current-text="I dag" id="dateWidthCreate"
                            <span class="input-group-btn ">
                                    <button type="button" class="btn btn-default createMarginTop"
                                            ng-click="dateOpen = true"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </input>
                    </p>
                </div>
                <div class="col-md-6 timePick">
                    <b class="Boldtitle">Vælg klokkeslæt</b>
                    <uib-timepicker name="Time" type="time" ng-model="create.date" minute-step="10"
                                    show-meridian="false"
                                    required></uib-timepicker>
                </div>
            </div>

            <!--Only show if carer is logged in-->
            <div>
                <div class="input-group widthArea">
                    <span class="input-group-addon" ><b> Gentagelse:</b></span>

                    <div class="input-group-btn ">
                        <div class="btn-group" uib-dropdown is-open="create.isOpen">
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>{{create.freq}} <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li role=menuitem" ng-repeat="freq in create.freqOPTIONS">
                                    <button ng-click="create.freq = freq; create.setRecurring()"
                                            class="btn listItemBtn">{{freq}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div ng-show="create.recurring">
                    <div class="input-group behind">
                        <span class="input-group-addon" id="recurrences"><b> Med hvilket interval?</b></span>
                        <input type="number" ng-model="create.interval" ng-virtual-keyboard="create.numpadConfig"
                               class="form-control" aria-describedby="recurrences">
                    </div>
                    <div ng-show="create.interval != null" id="intervalTextRow">
                        Opgaven gentages med et interval på {{create.interval}}
                        {{create.freqUnits[create.freqOPTIONS.indexOf(create.freq)]}}
                    </div>
                </div>
            </div>

        </div>
        <div id="buttonsDIV" class="col-md-6">
            <!--Buttons leading to next page, next step in making assignment and back to previous-->
            <div ng-show="!create.isCarerLoggedIn()">
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.name">
                    <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span> Tilbage
                </button>
                <button ng-disabled="datetimeForm.Date.$invalid || datetimeForm.Time.$invalid" type="button"
                        class="btn btn-default btn-lg" ui-sref="main.create.description">
                    Næste <span class="fa fa-arrow-right fa-lg" aria-hidden="true"></span>
                </button>
            </div>
            <div ng-show="create.isCarerLoggedIn()">
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.name">
                    <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span> Tilbage
                </button>
                <button ng-disabled="datetimeForm.Date.$invalid || datetimeForm.Time.$invalid" type="button"
                        class="btn btn-default btn-lg" ui-sref="main.create.priority">
                    Næste <span class="fa fa-arrow-right fa-lg" aria-hidden="true"></span>
                </button>
            </div>
        </div>

    </div>
</div>