<div class="jumbotron wrapper">
    <div class="row">
        <div id="formDIV" class="col-md-6">

            <!--<h3>Indtast beskrivelse til opgaven</h3>-->

            <!-- Textfield for description for assignment. Binds selected value to value in controller create-->
            <form class="desForm">
                <!--<p><input type="text" ng-virtual-keyboard="create.keyBoardConfig" ng-model="create.description"></p>-->
                <div class="input-group">
                    <span class="input-group-addon"><b> Beskrivelse af opgaven:</b></span>
                    <!--<input-->
                            <!--type="text" ng-model="create.description" ng-virtual-keyboard="create.keyBoardConfig"-->
                            <!--class="form-control">-->
                    <textarea  ng-model="create.description" ng-virtual-keyboard="create.keyBoardConfig"
                              class="form-control textarea widthArea"></textarea>
                </div>
            </form>
        </div>
        <div id="buttonsDIV" class="col-md-6">
            <!--Buttons leading to next page, next step in making assignment and back to previous-->
            <div ng-show="!create.isCarerLoggedIn()">
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.date">
                    <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span> Tilbage
                </button>
                <button ng-disabled="datetimeForm.Date.$invalid || datetimeForm.Time.$invalid" type="button"
                        class="btn btn-default btn-lg" ui-sref="main.create.confirm">
                    Næste <span class="fa fa-arrow-right fa-lg" aria-hidden="true"></span>
                </button>
            </div>
            <div ng-show="create.isCarerLoggedIn()">
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.priority">
                    <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span> Tilbage
                </button>
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.confirm">
                    Næste <span class="fa fa-arrow-right fa-lg" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>