<div class="jumbotron wrapper">
    <div class="row">
        <div id="formDIV" class="col-md-6">
            <!-- Textfield for name of assignment. Binds selected value to value in controller create-->
            <form name="nameForm" class="nameForm">
                <div class="input-group">
                    <span class="input-group-addon"><b> Navn på opgaven:</b></span>
                    <input
                            type="text" name="Name" ng-model="create.name" ng-virtual-keyboard="create.keyBoardConfig"
                            class="form-control" ng-change="create.setDirty()" placeholder="Påkrævet" required>
                </div>
            </form>
            <div id="setRoleDIV" ng-show="create.isCarerLoggedIn()">
                <br>
                <p>Opgaven kan udføres af:</p>

                <div class="checkboxList">
                    <div ng-repeat="(item,enabled) in create.roleOptions">
                        <input id="UNIQUELABEL{{$id}}_1" class="rolescheckbox" type="checkbox" ng-model="create.roleOptions[item]"
                               ng-click="create.toggle(enabled, item)"/>
                        <label for="UNIQUELABEL{{$id}}_1">{{item}}</label>
                    </div>
                </div>
            </div>
            <span class="errorMsg" ng-show="nameForm.Name.$invalid && nameForm.Name.$dirty">Opgavenavn påkrævet</span>
            <span class="errorMsg" ng-show="!create.roles.length">Vælg hvem opgaven skal udføres af</span>
        </div>
        <div id="buttonsDIV" class="col-md-6">
            <!--Button leading to next page, next step in making assignment -->
            <button ng-disabled="nameForm.Name.$invalid || !create.roles.length" type="button" ng-click="create.setDirty()"
                    class="btn btn-default btn-lg" ui-sref="main.create.date">
                Næste <span class="fa fa-arrow-right fa-lg" aria-hidden="true"></span>
            </button>
        </div>

    </div>
</div>


