<div class="jumbotron wrapper">

    <div class="row">
        <div id="formDIV" class="col-md-6">

            <h3>Vælg prioritet</h3>


            <!-- Creates radiobuttons for each item in PriorityLevel enum
                Binds selected value to value in controller create
             -->
            <div class="btn-group btn-group-horizontal" data-toggle="buttons">
                <label ng-repeat="p in create.prio" class="btn active">
                    <input type="radio" ng-model="create.priority" value="{{p}}">
                    <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                    <span> {{create.prio2String(p)}}</span>
                </label>
            </div>

            <!--<p>Du har valgt prioriteten: {{create.prio2String(create.priority)}}</p>-->
            <!--<p>-->
            <br><br><br>
            <div class="input-group">
                <h3>Brugerindtastning</h3>
                Skal der indtastes yderligere data til opgaven, når denne udføres?
                <!--<span class="input-group-addon"><b>Brugerindtastning påkrævet?</b></span>-->
                <div class="btn-group btn-group-horizontal" data-toggle="buttons">
                    <label class="btn active">
                        <input type="radio" ng-model="create.userinputneeded" ng-value="true">
                        <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                        <span> Ja </span>
                    </label>
                    <label class="btn active">
                        <input type="radio" ng-model="create.userinputneeded" ng-value="false">
                        <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                        <span> Nej </span>
                    </label>
                </div>
            </div>
        </div>
        <div id="buttonsDIV" class="col-md-6">
            <!--Buttons leading to next page, next step in making assignment and back to previous-->
            <div>
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.date">
                    <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span> Tilbage
                </button>
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.create.description">
                    Næste <span class="fa fa-arrow-right fa-lg" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>