<div class="btn-group-vertical">
    <div ng-repeat="item in $ctrl.getItems() | orderBy:$ctrl.customOrder track by $index">
        <!-- Adds component assignment-list-item defined in folder: assignment-list-item -->
        <!-- Sends single assignment from ng-repeat -->
        <assignment-list-item assignment="item"></assignment-list-item>
    </div>
</div>
