<div class="row">
    <div class="col-xs-12 mainBox">
        <h3>Er du sikker på, at du vil kassere opgaven?</h3>
        <div class="col-xs-12 buttonConfirmBox">
            <!--<div class="btn-group btn-group-lg" role="group" aria-label="First group">-->
            <div class="col-sm-6">
                <button type="button" class="btn btn-success btn-lg" ng-click="$ctrl.confirm()">
                    Ja <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-danger btn-lg" ng-click="$ctrl.cancel()">
                    Nej <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
