<div class="jumbotron">
    <button type="button" class="btn btn-default btn-lg" ui-sref="main.home">
        <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span>Tilbage <span
            class="fa fa-users fa-lg" aria-hidden="true"></span>
    </button>
   <div class="row">
       <h1>Logs</h1>
       Udførte handlinger på denne enhed
   </div>
    <br>
    <div class="row" ng-show="logCtrl.logList.length > 0">
        <button ng-click="logCtrl.changeDateOrder()" class="btn btn-default btn-xs">
            {{logCtrl.dateShowText}}
            <span ng-class="{'fa fa-chevron-up':logCtrl.dateReverseOrder, 'fa fa-chevron-down': !logCtrl.dateReverseOrder}"></span>
        </button>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="th">Dato</th>
                <th class="th">Handling</th>
                <th class="th">Opgavenavn</th>
                <th class="th">Indtastet information</th>
                <th class="th">Borger</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in logCtrl.logList | orderBy: 'timeStamp': logCtrl.dateReverseOrder">
                <td>{{log.timeStamp | date: "dd/MM/yyyy 'kl.' HH:mm"}}</td>
                <td>{{log.event}}</td>
                <td>{{log.assignmentName}}</td>
                <td>{{log.userInputText}}</td>
                <td>{{logCtrl.getUsername(log.userId)}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <p ng-show="logCtrl.logList.length == 0">Ingen logs på denne enhed</p>
</div>

