@mixin clockGradientColor() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2b2b2+0,bfbfbf+1,c3c3c3+1,bababa+2,b6b6b6+3,bfbfbf+4,bdbdbd+4,cacaca+29,cacaca+42,cdcdcd+48,cbcbcb+50,cccccc+57,c7c7c7+76,c1c1c1+90,bfbfbf+91,bfbfbf+95,bdbdbd+96,bbbbbb+100 */
  background: rgb(178, 178, 178); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(178, 178, 178, 1) 0%, rgba(191, 191, 191, 1) 1%, rgba(195, 195, 195, 1) 1%, rgba(186, 186, 186, 1) 2%, rgba(182, 182, 182, 1) 3%, rgba(191, 191, 191, 1) 4%, rgba(189, 189, 189, 1) 4%, rgba(202, 202, 202, 1) 29%, rgba(202, 202, 202, 1) 42%, rgba(205, 205, 205, 1) 48%, rgba(203, 203, 203, 1) 50%, rgba(204, 204, 204, 1) 57%, rgba(199, 199, 199, 1) 76%, rgba(193, 193, 193, 1) 90%, rgba(191, 191, 191, 1) 91%, rgba(191, 191, 191, 1) 95%, rgba(189, 189, 189, 1) 96%, rgba(187, 187, 187, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(178, 178, 178, 1) 0%, rgba(191, 191, 191, 1) 1%, rgba(195, 195, 195, 1) 1%, rgba(186, 186, 186, 1) 2%, rgba(182, 182, 182, 1) 3%, rgba(191, 191, 191, 1) 4%, rgba(189, 189, 189, 1) 4%, rgba(202, 202, 202, 1) 29%, rgba(202, 202, 202, 1) 42%, rgba(205, 205, 205, 1) 48%, rgba(203, 203, 203, 1) 50%, rgba(204, 204, 204, 1) 57%, rgba(199, 199, 199, 1) 76%, rgba(193, 193, 193, 1) 90%, rgba(191, 191, 191, 1) 91%, rgba(191, 191, 191, 1) 95%, rgba(189, 189, 189, 1) 96%, rgba(187, 187, 187, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(178, 178, 178, 1) 0%, rgba(191, 191, 191, 1) 1%, rgba(195, 195, 195, 1) 1%, rgba(186, 186, 186, 1) 2%, rgba(182, 182, 182, 1) 3%, rgba(191, 191, 191, 1) 4%, rgba(189, 189, 189, 1) 4%, rgba(202, 202, 202, 1) 29%, rgba(202, 202, 202, 1) 42%, rgba(205, 205, 205, 1) 48%, rgba(203, 203, 203, 1) 50%, rgba(204, 204, 204, 1) 57%, rgba(199, 199, 199, 1) 76%, rgba(193, 193, 193, 1) 90%, rgba(191, 191, 191, 1) 91%, rgba(191, 191, 191, 1) 95%, rgba(189, 189, 189, 1) 96%, rgba(187, 187, 187, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2b2b2', endColorstr='#bbbbbb', GradientType=0); /* IE6-9 */

}

$clockFontSize: 20px;

#assignmentBtn {
  margin-top: 10px;
  margin-bottom: 10px;

  // Following style is inspired by:
  //http://designshack.net/articles/css/css-button-tutorial-how-to-code-buttons-in-5-simple-steps/

  /*Basic Button Styles*/
  display: block;
  min-height: 40px;
  min-width: 500px;
  border: 1px solid;

  /*Text Styles*/
//  color: black;
  border-color: black;
  text-align: center;

  //Border styles
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: 0 4px 0 #1b383b;
  -moz-box-shadow: 0 4px 0 #1b383b;
  box-shadow: 0 4px 0 #1b383b;

  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

#todayHeader {
  text-decoration: underline;
  font-weight: bold;
  font-size: 25pt;
}

#sideArea {
  float: right;
}

#clock {
  color: black;
  @include clockGradientColor();
  margin-top: 20px; // To match with the margin of the header with the username
  border-radius: .5cm;
  border-color: transparent;
  margin-bottom: 30px;
  padding: 10px;
  span {
    font-size: $clockFontSize;
  }

  // Styling th horizontal line between date and time
  div.hl {
    height: 1px;
    width: 70%;
    margin: 0 auto;
    // The following line style is taken from Chris Coyier on a forum post:
    // https://css-tricks.com/forums/topic/sexy-css3-fading-line/
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
  }
}

.mainBox, #bod {
  text-align: center;
}

.assignmentBox {
  margin-left: 5%;
}

.buttonBox {
  margin-top: 10%;
  margin-bottom: 10px;
}

.buttonConfirmBox {
  margin-top: 20%;
  margin-bottom: 10px;
}

// Change size of the analog clock
.widget-clock .square {
  max-width: 200px;
  float: right;
}

// Overwrite the font size of the clock widget
.widget-clock .time {
  font-size: 18px !important;
}
