<div class="jumbotron">
    <div class="container-fluid">
        <div class="row" id="head">
            <div class="col-sm-4">
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.home">
                    <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span>Tilbage <span
                        class="fa fa-users fa-lg" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-sm-4 text-center">
                <h1 ng-bind="$ctrl.firstName"></h1>
            </div>
            <div class="col-sm-4 col-sm-push-1">
                <button type="button" class="btn btn-default btn-lg" ui-sref="main.calendar">
                    Kalenderoversigt <span class="fa fa-calendar fa-lg" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="row" id="bod">
            <div class="col-sm-6" id="tasks">
                <div class="row">
                    <h3 id="todayHeader">Dagens opgaver</h3>
                </div>
                <div class="row">
                    <!-- Adds component defined in folder: assignment-list -->
                    <assignment-list user="$ctrl.user"></assignment-list>
                </div>
            </div>
            <div id="info" class="col-sm-6">
                <section class="assignment">
                    <div ui-view="today"></div>
                </section>

                <div id="sideArea" class="row">
                    <div id="clock">
                        <ds-widget-clock theme="$ctrl.clockConfig.theme" digital-format="$ctrl.clockConfig.format"
                                         show-analog></ds-widget-clock>
                        <!--<span id="clockTime">{{$ctrl.time | date:'HH:mm'}}</span>-->
                        <span id="clockTime">{{$ctrl.date | date:'HH:mm'}}</span>
                        <br>
                        <span id="clockDate">{{$ctrl.date | date:'d/MM/yyyy'}}</span>
                    </div>
                    <button id="add" type="button" class="btn btn-primary btn-lg"
                            ui-sref="main.create({userId:$ctrl.user.id})">
                        <span class="fa fa-calendar-plus-o fa-lg" aria-hidden="true"></span>Tilføj opgave
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>