<div class="jumbotron">
    <div>
        <button type="button" class="btn btn-default btn-lg" ui-sref="main.home">
            <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span>Tilbage <span
                class="fa fa-users fa-lg" aria-hidden="true"></span>
        </button>
        <br>
        <br>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr id="Tabheaders">
                <th>Opgave</th>
                <th>Dato</th>
                <th>Tilhøre borger</th>
                <th>Kan udføres af</th>
                <th>Udført/Ikke Udført</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in $ctrl.getItems() | orderBy: 'date'">
                <td>{{item.name}}</td>
                <td>{{item.date | date: "dd/MM/yyyy kl HH:mm"}}</td>
                <td>{{$ctrl.getUsername(item.users)}}</td>
                <td>{{$ctrl.getRoles(item)}}</td>
                <td>{{$ctrl.getStatus(item)}}</td>
                <td>
                    <button type="button" id="delAss" class="btn btn-danger btnAss" ng-click="$ctrl.deleteAssignment(item)">
                        Slet <span class="fa fa-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" id="seeAss" class="btn btn-success btnAss" ng-click="$ctrl.seeAssignment(item)">
                        Åben
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

