<div class="jumbotron">
    <button type="button" class="btn btn-default btn-lg" ui-sref="main.today">
        <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span>Tilbage <span
            class="fa fa-user fa-lg" aria-hidden="true"></span>
    </button>
    <!--https://mattlewis92.github.io/angular-bootstrap-calendar/#?example=kitchen-sink-->
    <h2 class="text-center">{{ $ctrl.calendarTitle }}</h2>

    <div class="row">

        <div class="col-md-4 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        ng-click="$ctrl.viewDateClick()"
                        mwl-date-modifier
                        date="$ctrl.viewDate"
                        decrement="$ctrl.calendarView">
                    Forrige
                </button>
                <button
                        class="btn btn-default"
                        ng-click="$ctrl.viewDateClick()"
                        mwl-date-modifier
                        date="$ctrl.viewDate"
                        set-to-today>
                    I Dag
                </button>
                <button
                        class="btn btn-primary"
                        ng-click="$ctrl.viewDateClick()"
                        mwl-date-modifier
                        date="$ctrl.viewDate"
                        increment="$ctrl.calendarView">
                    Næste
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-4 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-click="$ctrl.calendarViewClick()" ng-model="$ctrl.calendarView" uib-btn-radio="'year'">År</label>
                <label class="btn btn-primary" ng-click="$ctrl.calendarViewClick()" ng-model="$ctrl.calendarView" uib-btn-radio="'month'">Måned</label>
                <label class="btn btn-primary" ng-click="$ctrl.calendarViewClick()" ng-model="$ctrl.calendarView" uib-btn-radio="'week'">Uge</label>
                <label class="btn btn-primary" ng-click="$ctrl.calendarViewClick()" ng-model="$ctrl.calendarView" uib-btn-radio="'day'">Dag</label>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-click="$ctrl.setRecurring(true)"><i class="fa fa-lg fa-repeat" aria-hidden="true"></i> Vis alle instanser</label>
                <label class="btn btn-primary" ng-click="$ctrl.setRecurring(false)"><i class="fa fa-lg fa-stop-circle-o" aria-hidden="true"></i> Vis første instans</label>
            </div>
        </div>

    </div>

    <mwl-calendar
            events="$ctrl.events"
            view="$ctrl.calendarView"
            view-title="$ctrl.calendarTitle"
            view-date="$ctrl.viewDate"
            on-event-click="$ctrl.eventClicked(calendarEvent)"
            on-event-times-changed="$ctrl.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            edit-event-html="'<i class=\'fa fa-pencil\'></i>'"
            delete-event-html="'<i class=\'fa fa-check\'></i>'"
            on-edit-event-click="$ctrl.eventEdited(calendarEvent)"
            on-delete-event-click="$ctrl.eventDeleted(calendarEvent)"
            on-timespan-click="$ctrl.timespanChanged(calendarDate, calendarCell)"
            cell-is-open="$ctrl.isCellOpen"
            day-view-start="00:00"
            day-view-end="23:59"
            day-view-split="30"
            cell-modifier="$ctrl.modifyCell(calendarCell)">
    </mwl-calendar>
</div>
