#usersDIV {
  //float: left;
  width: 50%;
  //margin: 0 auto;
}

#userBTN {
  background-color: #abfabf;
  margin: 20px;
  font-weight: bolder;
  width: 250px;
  white-space: normal;
}

.glyphicon.glyphicon-user {
  font-size: 75px;
}

#otherButtonsDIV {
  margin-top: 50px;
}

#btnRegister {
  float: right;
}

#logBtn {
  float: right;
  margin-top: -10px;
  margin-bottom: 5px;
}

#assignmentsBtn {
  float: right;
  margin-top: -10px;
  margin-bottom: 5px;
}

#carCheck{
  color: green;
}

#carUnCheck {
  color: red;
}
