<div class="jumbotron">
    <button class="btn btn-default btn-lg" id="logBtn" ng-show="home.carerChecked" ui-sref="main.logs"
            aria-hidden="true"> Vis logs <span
            class="fa fa-list-alt"></span></button>
    <button class="btn btn-default btn-lg" id="assignmentsBtn" ng-show="home.carerChecked" ui-sref="main.assignments"
            aria-hidden="true"> Administrer opgaver <span
            class="fa fa-pencil"></span></button></button>
    <!--<button class="btn btn-default btn-lg" id="logoutBtn" ng-show="home.carerChecked" ng-click="home.logout()"-->
            <!--aria-hidden="true">-->
        <!--Log Enhed ud-->
    <!--</button>-->
    <h1>Hjemmeskærm</h1>
    <div class="row" >
        <div class="col-md-12">
            <button type="button" ng-repeat="user in home.getUsers()" id="userBTN" class="btn btn-default btn-lg" ui-sref="main.today({userId:user.id})">
                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                <br> {{user.getFullName()}}
            </button>
        </div>
    </div>
    <div class="row" id="otherButtonsDIV">
        <div class="col-sm-5">
            <label class="fa fa-user-md fa-3x"></label>
            <input id="carercheck" class="checkbox" type="checkbox" ng-model="home.carerChecked"
                   ng-change="home.caregiverLogin(home.carerChecked)">
            <label for="carercheck">
                <span class="fa fa-check-square-o fa-3x" ng-show="home.carerChecked" id="carCheck"
                      aria-hidden="true"></span>
                <span class="fa fa-square-o fa-3x" ng-show="!home.carerChecked" id="carUnCheck"
                      aria-hidden="true"></span>
            </label>
            <br>Plejer login
        </div>
        <div class="col-sm-7">
            <button type="button" id="btnRegister" class="btn btn-primary btn-lg" ui-sref="main.registerUser">
                <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
                Opret ny borger
            </button>
        </div>
    </div>
</div>
