<div class="jumbotron">
    <div>
        <section class="device">
            <!-- Subviews are inserted here, depending on url -->
            <div ui-view></div>
        </section>
    </div>
</div>