<div class="jumbotron">
    <div class="row" id="loginformDIV">
        <div class="col-md-12">
            <h1>Login</h1>
            <form name="loginForm">
                <div class="input-group">
                    <span class="input-group-addon addon-fixed-length" id="idtext">Enhed ID:</span>
                    <input type="text" class="form-control" id="id" aria-describedby="idtext" name="id"
                           ng-model="$ctrl.id" placeholder="Påkrævet" required
                           ng-virtual-keyboard="$ctrl.keyboardConfig">
                </div>
                <div class="input-group">
                    <span class="input-group-addon addon-fixed-length" id="passtext">Enhed password:</span>
                    <input type="password" class="form-control" id="password" aria-describedby="passtext"
                           name="password"
                           ng-model="$ctrl.password" placeholder="Påkrævet" required
                           ng-virtual-keyboard="$ctrl.keyboardConfig">
                </div>
                <p class="errorMsg">{{$ctrl.errmsg}}</p>
                <button class="btn btn-primary btn-lg" type="button"
                        ng-disabled="loginForm.id.$invalid || loginForm.password.$invalid"
                        ng-click="$ctrl.login($ctrl.id, $ctrl.password)">Log ind
                </button>
                <button type="button" class="btn btn-default btn-lg enhedBtn"
                        ui-sref="main.dev.reg">
                    Opret ny enhed
                </button>
            </form>
        </div>
    </div>
</div>
