<div class="jumbotron">
    <div>
        <h1>Opret ny enhed</h1>
        <form name="deviceRegForm">
            <!--<p>Enhed password: <input type="password" name="newPassword" ng-model="login.newPassword" ng-virtual-keyboard="login.keyboardConfig"></p>-->
            <div class="input-group">
                <span class="input-group-addon" id="newpasstext">Nyt enhed password:</span>
                <input type="password" class="form-control" id="newPassword" aria-describedby="newpasstext" name="newPassword"
                       ng-model="$ctrl.newPassword" placeholder="Påkrævet" required
                       ng-virtual-keyboard="$ctrl.keyboardConfig">
            </div>
            <br>
            Du bliver automatisk logget ind efter oprettelse
        </form>
        <br>
        <button type="button" ng-disabled="deviceRegForm.newPassword.$invalid"
                ng-click="$ctrl.registerDevice($ctrl.newPassword)"
                class="btn btn-primary btn-lg enhedBtn">
            Opret
        </button>
        <button type="button" class="btn btn-default btn-lg" ui-sref="main.dev.login">
            <span class="fa fa-arrow-left fa-lg" aria-hidden="true"></span>Tilbage til login
        </button>
    </div>
</div>
